

@model Music.Models.Playlist

<form method="post" asp-action="Create">
    <div class="p-3 bg-dark text-light">
        <div class="form-group row">
            <h2 class="text-light pl-3">New Playlist</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control bg-dark text-light" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

            <div class="py-2 btn-group col-12" data-toggle="buttons">
                <label class="btn bg-danger btn-rounded form-check-label text-light mr-2 p-2">
                    <input asp-for="isPrivate"
                           class="form-check-input"
                           type="radio" value="false"
                           checked autocomplete="off"> Public
                    <i class="fas fa-lock-open ml-1"></i>
                </label>

                <label class="btn bg-success btn-rounded form-check-label text-light ml-2 p-2">
                    <input asp-for="isPrivate"
                           class="form-check-input"
                           type="radio" value="true"
                           autocomplete="off"> Private
                    <i class="fas fa-lock ml-1"></i>
                </label>
                <br />
                <span asp-validation-for="isPrivate" class="text-danger"></span>
            </div>

                <div class="form-group row py-2 mt-3">
                    <div class="col-10 offset-2 row">

                        <div class="col-5">
                            <button type="submit" class="btn btn-outline-primary"
                                    style="width:90px">
                                <i class="fas fa-plus"></i> &nbsp; Create
                            </button>
                        </div>
                        <div class="col-5">
                            <a asp-action="Index" class="btn btn-outline-secondary"
                               style="width:90px">
                                <i class="fas fa-backward"></i> &nbsp; Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}