@*@model IEnumerable<Music.Models.Playlist>*@


<br />

<div class="container p-3 bg-dark">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-light">My Playlists</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Playlists" asp-action="Create" class="btn btn-outline-warning">
                <i class="fas fa-plus"></i> &nbsp; Create New Playlist
            </a>
        </div>
    </div>

    <br /><br />

    @*@if(Model.Count() > 0) 
    {*@ 
        <table id="playlist_table" class="table table-bordered text-center" style="width:100%">
            <thead thead class="text-light">
                <tr>
                    <th style="width:50%">Title</th>
                    <th style="width:50%"></th>
                </tr>
            </thead>
            <tbody thead class="text-light">
                @*@foreach (var obj in Model)
                {
                    <tr>
                        <td class="align-content-center" style="width:50%">@obj.Title</td>
                        <td style="width:50%">
                            <a asp-controller="Playlists" asp-action="EditPlaylist" asp-route-id="@obj.Id" 
                               class="btn btn-outline-primary mr-1" style="width:47%">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-controller="Playlists" asp-action="DeletePlaylist" asp-route-id="@obj.Id" 
                               class="btn btn-outline-danger ml-1" style="width:48%">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }*@
            </tbody>
        </table>
    @*}
    else 
    { 
    <p>You didn't create any playlist yet.</p>
    }*@


</div>

@section Scripts {
<script src="~/js/playlistTable.js"></script>
} 
